body {

    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgoldenrodyellow;
    padding: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    
}

#line {

    background-color: rgb(61, 26, 10);
    height: 2px;
    width: 100%;
    border-radius: 1px;
    border: 0px;
}

div {

    display: flex;    
    height: 50px;
    width: 50px;
    background: lightgoldenrodyellow;
    border: solid 5px burlywood;
    border-radius: 5px;

}

#nametab {

    float: left;
    width: 260px;
    height: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 75px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: black;
    background: lightgoldenrodyellow;
    border: solid 5px burlywood;
    border-radius: 5px;

}

a {

    color: black;
    font-weight: bolder;

}

header {

    background: url(https://cdn.pixabay.com/photo/2016/07/14/09/04/texture-1516370_960_720.jpg);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;

}

.transfer {

    display: inline-flex;
    justify-content: space-around;
    width: 500px;
    height: 50px;
    float: right;
    padding: 20px;
    margin-top: 50px;
    margin-right: 35px;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 600;
    background: lightgoldenrodyellow;
    border: solid 5px burlywood;
    border-radius: 5px;
    color: black;

}

.switch:hover {

    color: darkgreen;
    font-weight: 800;

}


#about {

    display: block;

}

h1 {

    padding: 0;
    font-size: 40px;
    margin-left: 40px;
    font-weight: bolder;
    color: black;

}

#me {

    color: antiquewhite;
    font-display: bolder;
    font-size: 25px;
    margin-left: 40px;
    font-weight: 300;

}


article {

    border: 1px;
    width: 100%;
    margin: 10px;

}

img {

    float: left;
    margin: 5px;
    padding: 10px;
    background-color: #FFA500;
    border-radius: 5px;
    border: solid 3px rgb(61, 26, 10);
        
}

p {

    float: left;
    font-style: oblique;
    font-weight: 500;
    
}

#grid {

    display: flex;
    flex-wrap: wrap;

}

.grid2:hover {

    border: solid 3px lightgreen;

}

section {

    display: flex;
    justify-content: space-around;
    margin: 30px;

}

#submit {

    background-color: chocolate;
    border: solid 3px burlywood;
    color: antiquewhite;
    margin-right: 255px;
    margin-left: 255px;
    font-size: 15px;
    font-weight: 500;

}

#submit:hover {

    background-color: green;

}


form {

    width: 75%;
    background: rgb(61, 26, 10);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 40px;
    text-emphasis: bolder;

}

form input, textarea {

    border: 0;
    margin: 10px;
    background-color: lightgoldenrodyellow;
    border: solid 2px burlywood;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;

}


aside {

  float: right;
  margin-right: 25px;
  width: 50%;
  padding: 20px;
  margin: 10px;

}

footer {
    
    display: flex;
    height: 200px;
    padding: 20px;
    clear: both;
    background: url(https://cdn.pixabay.com/photo/2016/07/14/09/04/texture-1516370_960_720.jpg);

}

    